<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzmu.tcsys.user.mapper.UserMapper">

    <select id="selectAllUser" resultType="com.gzmu.tcsys.user.bean.Member">
        select m.* from tcsys.member m ;
    </select>
</mapper>
